/* 將邊界與間距的預設值歸零 */
/* 通用元素「*」；最高階設定 */
*{
    /* 間距 margin（外間距）；padding（內間距） */
    /* 各別設定 上右下左 的值（1.統一各別給值；2.各別設定值）；同一設定，只給一個值；分組設定，上下 左右 */
    margin: 0 auto;
    padding: 0;
}

body {
    
}

/* 呼叫標籤，直接輸入標籤名稱；呼叫 ID，在 ID 前輸入「#」 */
section {
    /* 寬度的尺寸 絕對：px  相對： % vw（裝置的寬度）；這兩個單位不要混用 */
    width: 100%;
    
    /* 高度的尺寸 絕對：px 相對： %（不會自動將高度展開） vh（裝置的高度，會自動展開）；這兩個單位不要混用 */
    height: 100vh;

    /* 背景顏色 background-color */
    background-color: cadetblue;
}
