// 讀取 變數 檔案 ；@use 區域性；一次性；規則 檔案要另給名稱；基於檔案的安全性；要放置在所有語法最上層
@use '_01variable/variable' as Var;
@use '_02mixin/_01media' as R;
@use '_02mixin/02images' as Img;
// 滿版設計 section id="bivouac"；設定寬 100 高 100 背景顏色
#bivouac {
    width: Var.$Num10 * 10 * Var.$Per;
    height: Var.$Num10 * 10 * Var.$Per;
    background-color: burlywood;
}
// 子選擇器（指定階層 > ；同層之中不能有相同的標籤，若有相同需設定 id or class）；子孫選擇器（跨標籤讀取 利用「空格」；不論哪一層物件，需設定 id or class）
// 巢狀寫法
// menu（背景圖片取代文字呈現） 與 Logo（水平垂直置中） 要同一列；聯絡資訊要各別一列（文字的寬度為 90%；文字靠右對齊，文字的顏色 咖啡色；隱藏項目符號

// #{} 格式，會將「變數設定為字串」的內容轉譯為「選擇器」或是「屬性名稱」
@include R.Rwd(xs) {
    header {
        // 顯示方法：彈性佈局（智能對齊）；在需要排版物件的父框架設定；會將所有的子物排成一列
        display: flex;
        // 換行，將子物件設定為 兩列；預設值會自動判斷 子物件 的寬度（均分）；要設定 子物件 的寬度才會有做用
        flex-wrap: wrap;
        list-style-type: none;

        #menu {
            width: Var.$Num10 * 1.5%;
            height: 50px;
            // 文字顏色
            color: rebeccapurple;
            // 背景圖片取代文字顯示，背景圖片的對齊，可以輕易達到 水平垂直置中 的排列方式
            // 1. 設定背景圖片連結 2.背景圖片不重複顯示 3.背景圖片的對齊（定位點 X Y - 水平垂直置中）
            // 4. 位移文字（首行縮排 - 單行文字 或者 段落文字的第一行） 5.圖片尺寸設定（預設值：自動）
            // background-image: url(../images/icons/list.svg);
            // background-repeat: no-repeat;
            // background-position: center;
            // auto（預設值：自動） cover（滿版覆蓋框架尺寸） contain（滿版留白）| 各別設 x y 的值（例如：background-size: 50% 30%;）| 單位：px %
            // background-size: contain;
            // text-indent: -9999px;
            @include Img.Images(center, contain, icons, "list.svg");
            background-color: blue;
            // #{} 格式，會將「變數設定為字串」的內容轉譯為「選擇器」或是「屬性名稱」

            // @include R.Rwd(md) {
            //     width: Var.$Num10 * 1.3%;
            //     background-color: rgb(140, 0, 255);
            // }
        }

        h1 {
            width: Var.$Num10 * 8.5%;
            background-color: rosybrown;
            // @include R.Rwd(sm) {
            //     width: Var.$Num10 * 8.7%;
            //     background-color: rgb(143, 188, 182);
            // }
        }

        ul {
            width: Var.$Num10 * 10%;
        }
    }
}

@include R.Rwd(sm) {
    header {    
        #menu {
            width: Var.$Num10 * 1.3%;
            background-color: rgb(255, 208, 0);
        }

        h1 {
            width: Var.$Num10 * 8.7%;
            background-color: rosybrown;

            // @include R.Rwd(sm) {
            //     width: Var.$Num10 * 8.7%;
            //     background-color: rgb(143, 188, 182);
            // }
        }

        ul {
            width: Var.$Num10 * 10%;
        }
    }
}

@include R.Rwd(md) {
    header {
        #menu {
            width: Var.$Num10 * 1.3%;
            background-color: rgb(140, 0, 255);
        }

        h1 {
            width: Var.$Num10 * 8.7%;
            background-color: rgb(143, 188, 182);
        }

        ul {
            width: Var.$Num10 * 10%;
        }
    }
}