* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
}

#bivouac {
  width: 100%;
  height: 100%;
  background-color: burlywood;
}

@media screen and (min-width: 0px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
  }
  header #menu {
    width: 15%;
    height: 50px;
    color: rebeccapurple;
    background-image: url(../images/icons/list.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-color: blue;
  }
  header h1 {
    width: 85%;
    height: 50px;
    text-align: center;
    background-color: red;
  }
  header h1 li {
    margin-top: 9px;
  }
  header ul {
    width: 100%;
  }
  header nav {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    background-color: white;
  }
  header nav #menuheader {
    height: 15%;
    background-color: aquamarine;
  }
  header nav #menuheader #close {
    width: 100%;
    background-color: brown;
  }
  header nav #menuheader #close a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1%;
    float: right;
    background-color: red;
  }
  header nav #menuheader #close::after {
    content: "";
    display: block;
    clear: both;
  }
  header nav #menunav {
    height: 70%;
  }
  header nav #menuicon {
    height: 15%;
  }
  footer {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 576px) {
  header #menu {
    width: 13%;
    background-color: rgb(255, 208, 0);
  }
  header h1 {
    width: 87%;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header #menu {
    width: 13%;
    background-color: rgb(140, 0, 255);
  }
  header h1 {
    width: 87%;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  #bivouac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header {
    width: 40%;
    height: 100%;
    background-color: brown;
  }
  header #menu {
    display: none;
  }
  main, #main {
    width: 60%;
    height: 85%;
    background-color: olivedrab;
  }
  main nav, #main nav {
    background-color: blueviolet;
  }
  footer {
    width: 60%;
    height: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: goldenrod;
  }
}