@use '../_01variable/variable' as V;
@use '../_02mixin/01media' as Me;
@use '../_02mixin/04Jmixin' as Jm;

@include Me.Rwd(xs) {
    .bivouac {
        @include Jm.WH();
        $HeaderHeight: V.$Num10 * 5px;
        $HeHeight: 10 * 5px;
        #Kogmain {
            @include Jm.WH();
            // 彈性佈局 - 設定框架順序位置
            display: flex;
            flex-wrap: wrap;
            .KogImg {
                @include Jm.WH();
                order: 2;
                background-color: aqua;
                position: relative;

                > #WebBanner {
                    @include Jm.WH();
                    // background-color: orangered;
                }

                > article {
                    @include Jm.WH();
                    position: absolute;
                    z-index: V.$ZNum3;
                    top: 0;
                    background-color: rgba($color: #838383, $alpha: 0.5);

                    %KogAling {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    > li {
                        width: V.$Num10 * 3.5%;
                        height: calc( $HeaderHeight + 100px);
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;

                        a {
                            display: inline-block;
                            height: 25px;
                            font-size: 1rem * 1.1;
                            padding: 2px;
                        }
                        a:hover {
                            // 底線樣式
                            // text-decoration-line: underline;
                            // text-decoration-color: olivedrab;
                            // -moz-text-decoration-color: olivedrab;
                            // -moz-text-decoration-line: underline;
                            // 框線
                            border-bottom: 1px solid rgb(150, 51, 16);
                        }
                    }

                    > ul {
                        margin-top: calc( $HeaderHeight + 320px);
                        display: flex;
                        flex-wrap: wrap;
                        > .Price {
                            width: V.$Num10 * 10%;
                            height: V.$Num10 * 5px;
                            @extend %KogAling;
                            font-size: 1rem * 1.8;
                        }
                        > .Btn {
                            width:  V.$Num10 * 7.5%;
                            height: 45px;
                            @extend %KogAling;
                            font-size: 1rem * 1.3;
                            background-color: rgb(252, 107, 54);
                        }
                        > .Btn:hover {
                            background-color: rgb(211, 73, 23);
                        }
                    }
                }
            }
            .KogText {
                width: V.$Num10 * 10%;
                order: 1;
                margin-top: $HeaderHeight;

                > table {
                    width: 80%;
                    margin-bottom: 50px;
                    .NullTr {
                        height: 15px;
                    }
                    .title {
                        font-size: 1rem * 0.9;
                        color: rgb(134, 134, 134);
                    }
                    span {
                        margin-right: 20px;
                    }

                    .facility {
                        > td {
                            width: calc( 100% / 4 );
                        }
                    }
                }

                > .content {
                    width: 80%;
                    margin-bottom: 50px;
                    .title {
                        font-size: 1rem * 0.9;
                        color: rgb(134, 134, 134);
                    }

                    .Poper {
                        display: flex;
                        flex-wrap: wrap;
                        margin: {
                            top: 15px;
                            bottom: 15px;
                        }

                        .title {
                            width: 50%;
                        }
                        .Text {
                            width: 50%;
                        }
                    }

                    .facility {
                        .title {
                            width: 100%;
                        }
                        .Text {
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: calc( 100% / 4 );
                            }
                        }
                    }
                }
            }

            #SubForm {
                @include Jm.WH();
                position: absolute;
                z-index: V.$ZNum5;
                position: fixed;
                top: 0;
                background-color: white;
                display: flex;
                flex-wrap: wrap;
                display: none;

                > #kogform {
                    order: 2;
                    @include Jm.WH();
                    background-color: rgb(255, 73, 73);
                }
                > .content {
                    order: 1;
                }
            }
        }
    }
}

@include Me.Rwd(sm) {
    
}

@include Me.Rwd(md) {
    
}

@include Me.Rwd(lg) {
    .bivouac {
        header {
            display: none;
        }
        $HeaderHeight: 0;
        #Kogmain {
            @include Jm.WH();
            // 彈性佈局 - 設定框架順序位置
            display: flex;
            .KogImg {
                width: calc( (V.$Num10 * 10%) / 3 * 1 );
                height: 100%;
                order: 1;
                background-color: aqua;

                > article {
                    color: brown;
                }
            }
            .KogText {
                width: calc( (V.$Num10 * 10%) / 3 * 2 );
                height: 100%;
                order: 2;
                margin-top: 0;
                // 溢位 框架一定要設定「寬度或高度」
                overflow-y: auto;
                color: black;

                // scss 繼承 %name（% 隱藏原始物件）；呼叫 @extend
                %TabConW {
                    width: 50%;
                    margin-left: 20px;
                }
                // > table {
                //     @extend %TabConW;
                // }
                // > .conten {
                //     @extend %TabConW;
                // }
                // 原始 css3 的寫法
                > table, > .content {
                    width: 50%;
                    margin-left: 20px;
                }
            }
            #SubForm {
                width: 90%;
                height: 90%;
                // 上下 左右
                margin: 2.5% 5%;
                background-color: wheat;
            }
        }
    }
}