// 匯入檔案在所有資料的最前面
@use '02variable' as Var;

// 將邊界與間距的預設值歸零
// 通用元素「*」；最高階設定
* {
    // 間距 margin（外間距）；padding（內間距）
    // 各別設定 上右下左 的值（1.統一各別給值；2.各別設定值）；同一設定，只給一個值；分組設定，上下 左右 
    margin: 0 auto;
    padding: 0;
}

// 網頁專用的單位 1.絕對單位：px（像素） 2.相對單位：% vw vh ；文字專用單位 1.絕對單位：px（像素） 2.相對單位：em（子物件會被父物件連動） rem（不受父物件影響）
// 不同單位不能計算

html,
body {
    width: Var.$W10 * 10%;
    height: 100%;
}