//  呼叫標籤（類型選擇器），直接輸入標籤名稱；呼叫 ID（ID選擇器），在 ID 前輸入「#」 
section {
    //  寬度的尺寸 絕對：px  相對： % vw（裝置的寬度）；這兩個單位不要混用 
    width: $W10 * 10%;

    //  高度的尺寸 絕對：px 相對： %（不會自動將高度展開） vh（裝置的高度，會自動展開）；這兩個單位不要混用 
    height: $W10 * 10%;

    //背景顏色 background-color 
    background-color: cadetblue;

    // 頁首 header 子孫選擇器（只要在父框架之下的相同標籤，都會被指定；例： section header，標籤之間要空格）

    header {
        // height: $H * 4;
        @include calcH(0.5%,3.5);
        background-color: burlywood;
    }

    main {
        // height: 100% - ( $H * 4 ) - ( $H + $F );
        @include calcMH(0.5%, 3.5, 1.5%);
        background-color: orangered;
    }


    // 子選擇器
    footer {
        // height: $H + $F;
        @include calcFH(0.5%, 1.5%);
        
        > li {
            // 設定文字顏色
            color: brown;
            // 隱藏項目符號
            list-style-type: none;
            // 文字對齊（置中 - 垂直）
            text-align: center;
            // 文字尺寸；1.沒有設定，文字內文尺寸為 16px 2.自行輸入像素數值 3.設定為相對值 em or rem，基礎值為 1em or 1rem = 16px
            font-size: 1rem * 0.85;
        }
        // class 用 . 呼叫
        > .mt {
            // 水平置中 內間距
                padding-top: 4px;
        }
    }
}

