// 設定變數
// 寬度的基礎數值
$W10: 10;

// 全域變數
// $H：header 的 高；$F：footer的高
$H: $W10 * 0.5%;
$F: 1.5%;

// 混用 mixin（自訂函式，可以輸入「參數」）
@mixin calcH($Pre,$Mul) {
    // 計算高度的公式 寬度的基礎數值 * 百分比的值 * 倍數
    height: $W10 * $Pre * $Mul;
}

// 計算 footer 高度 header 高度 + 增加高度
@mixin calcFH($Pre,$Fh) {
    height: ($W10 * $Pre) + $Fh;
}

// 計算 main 高度 100% - header高度 - footer高度
@mixin calcMH($Pre,$Mul,$Fh) {
    height: 100% - ($W10 * $Pre * $Mul) - (($W10 * $Pre) + $Fh);
}