// 匯入檔案在所有資料的最前面
@use '00variable' as Var;

// 混用 mixin（自訂函式，可以輸入「參數」）
@mixin calcH($Pre, $Mul) {
    // 計算高度的公式 寬度的基礎數值 * 百分比的值 * 倍數
    height: Var.$W10 * $Pre * $Mul;
}

// 計算 footer 高度 header 高度 + 增加高度
@mixin calcFH($Pre, $Fh) {
    height: (Var.$W10 * $Pre) + $Fh;
}

// 計算 main 高度 100% - header高度 - footer高度
@mixin calcMH($Pre, $Mul, $Fh) {
    height: 100% - (Var.$W10 * $Pre * $Mul) - ((Var.$W10 * $Pre) + $Fh);
}

// 二欄排列
@mixin CalcColumnTwo($Mul) {
    $ColumnWidth: Var.$W10 * $Mul;
    > li {
        width: $ColumnWidth;
        background-color: aquamarine;
    }

    > h1 {
        width: Var.$W10 * 10% - $ColumnWidth;
    }
}