/* 原生變數寫法 定義在根偽類選擇器之下（共用） */
:root {
    --W: 10%;
    --ColorBrown: brown;
    --ColorBlueviolet: blueviolet;
    --FontSize: 1rem;
    --FontSize2: calc(var(--FontSize) * 2);
    --FontSize09: 1rem * 0.9;
}